<%= form_for(@ingrediente) do |f| %>
  <% if @ingrediente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ingrediente.errors.count, "error") %> prohibited this ingrediente from being saved:</h2>

      <ul>
      <% @ingrediente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-lg-5">
      <label>Nombre:</label>
      <%= f.text_field :nombre,:class=>"form-control" %>
    </div>
  </div>
  </br>
  <div class="row">
    <div class="col-lg-5">
      <label>Imagen:</label>
      <%= f.file_field :foto %>
    </div>
  </div>
  </br>
  <div class="row">
    <div class="col-lg-2">
      <label>Categoría:</label>
      <%= f.number_field :categoria,:class=>"form-control" %>
    </div>
  </div>
  </br>
  <div class="row">
    <div class="col-lg-2">
      <%= f.submit "Guardar",:class=>"btn btn-primary"%>
    </div>
  </div>

<% end %>
