<p id="notice"><%= notice %></p>

<h1>Lista de Ingredientes</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Imagen</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ingredientes.each do |ingrediente| %>
      <tr>
        <td><%= link_to ingrediente.nombre, ingrediente %></td>
        <!--<td><%= link_to_image(ingrediente.foto,ingrediente,:style=>"width:200px")%></td> -->
        <td><%= link_to image_tag(ingrediente.foto, :style=>"width: 150px"), ingrediente %></td>
        <!--<td><%= link_to 'Ver', ingrediente %></td> -->
        <!--<td><%= link_to 'Editar', edit_ingrediente_path(ingrediente) %></td> -->
        <td><%= link_to 'Borrar', ingrediente, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'Crear Ingrediente', new_ingrediente_path %>
