<p id="notice"><%= notice %></p>

<h1>Lista de Ingredientes</h1>
<br />
<%= link_to new_ingrediente_path do%>
<i class="fa fa-plus"></i> Crear Ingrediente
<%end%><br /><br />

    <% @ingredientes.each do |ingrediente| %>
    
    <div class="col-lg-3 col-md-6">
          <div class="panel panel-yellow">
            <%= link_to 'Borrar', ingrediente, method: :delete, data: { confirm: 'Are you sure?' } %>
            
              <div class="panel-heading panel-food">
               <%= link_to image_tag(ingrediente.foto, :style=>"height: 100%; width: 100%"), ingrediente %>
                  <div class="row">
                    <div class="col-xs-3"></div>
                      <div class="col-xs-9 text-right">
                        <div class="med"><%= link_to ingrediente.nombre, ingrediente %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
    <% end %>
