<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @ingrediente.nombre %>
</p>

<p>
  <strong>Foto:</strong></br>
  <%= image_tag @ingrediente.foto, :style=>"width:300px" %>
</p>


<%= link_to 'Editar', edit_ingrediente_path(@ingrediente) %> &nbsp;
<%= link_to 'Ver lista', ingredientes_path %>
