
        <script>
            $(document).ready(function () {
   
                     $("#obj1").addClass("active");
 
                var arrayRecipes = [];
                getJSON("recetas");
                //Lectura JSON
                function getJSON(type) {
                    var xmlhttp = new XMLHttpRequest();
                    var url = "json/" + type + ".json";
                    //var url = "http://www.w3schools.com/website/Customers_MYSQL.php";
                    xmlhttp.onreadystatechange = function () {
                        if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                            myFunction(xmlhttp.responseText, type);
                        }
                    }
                    function myFunction(response, type) {
                        if (type === "recetas") {
                            arrayRecipes = JSON.parse(response);
                        }
                    }
                    xmlhttp.open("GET", url, true);
                    xmlhttp.send();
                }

                $('#bsearch').click(function () {
                    var s = $("#searching").val();
                    window.location = "template-busqueda.html?name=" + s;
                });
            });</script>
 
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="row">
                        <div class="col-lg-3">
                            <h1 class="page-header">
                                Inicio <label><%= @AUX %></label>
                            </h1>                            
                        </div>
                        <div class="col-lg-3">
                            <h1 class="page-header">
                                <small></small>
                            </h1>                            
                        </div>
                        <div class="col-lg-6 page-header">                            
                            <div class="form-group input-group">
                                <!--<input type="text" id="searching" class="form-control">
                                <span class="input-group-btn"><button class="btn btn-default" id="bsearch" type="button"><i class="fa fa-search"></i></button></span>-->
                            </div>
                        </div>
                    </div>

                    <!-- /.row -->

                    <div class="row">
                        <div class="slideContainer" id="slideContainer">
                            <div class="nuestraSlide" id="slide0">
                                <div class="col-lg-3 col-md-6">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading panel-food" id="pDes">
                                            <%= image_tag "desayunos/food4.jpg", :id=> "imgDesayunos" %>
                                            <div class="row">
                                                <div class="col-xs-3">                                            
                                                </div>
                                                <div class="col-xs-9 text-right">
                                                    <div class="huge">26</div>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="/inicio/temprecetas.html">
                                            <div class="panel-footer">
                                                <span class="pull-left"><%= link_to 'Desayunos', :desayunos %></span>
                                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                                <div class="clearfix"></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="panel panel-green">
                                        <div class="panel-heading panel-food">
                                            <%= image_tag "desayunos/food3.jpg", :id=> "imgComidas" %>
                                            <div class="row">
                                                <div class="col-xs-3">
                                                </div>
                                                <div class="col-xs-9 text-right">
                                                    <div class="huge">12</div>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="template-recetas.html?tipo=Comidas">
                                            <div class="panel-footer">
                                                <span class="pull-left"><%= link_to 'Comidas', :comidas %></span>
                                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                                <div class="clearfix"></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="panel panel-yellow">
                                        <div class="panel-heading panel-food">
                                            <%= image_tag "desayunos/food3.jpg", :id=> "imgCenas" %>
                                            <div class="row">
                                                <div class="col-xs-3">
                                                </div>
                                                <div class="col-xs-9 text-right">
                                                    <div class="huge">124</div>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="template-recetas.html?tipo=Cenas">
                                            <div class="panel-footer">
                                                <span class="pull-left"><%= link_to 'Cenas', :cenas %></span>
                                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                                <div class="clearfix"></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="panel panel-red">
                                        <div class="panel-heading panel-food">
                                            <%= image_tag "desayunos/food4.jpg", :id=> "imgSnacks" %>
                                            <div class="row">
                                                <div class="col-xs-3">
                                                </div>
                                                <div class="col-xs-9 text-right">
                                                    <div class="huge">13</div>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="template-recetas.html?tipo=Snacks">
                                            <div class="panel-footer">
                                                <span class="pull-left"><%= link_to 'Snacks', :snacks %></span>
                                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                                <div class="clearfix"></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->

                    <div class="row">
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4">
                            <div class="panel panel-default">
                                
                                <div class="panel-body">
                                    <center>
                                        <%= image_tag "inicio.png", :id=> "mainImg", :class=>"img-responsive" %>
                                        </center>
                                </div>
                            </div>
                        </div>

                        

                    </div>
                    <!-- /.row -->

                </div>
                <!-- /.container-fluid -->
