<%= form_for(@recetum) do |f| %>
                                        <br />
  <% if @recetum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recetum.errors.count, "error") %> prohibited this recetum from being saved:</h2>

      <ul>
      <% @recetum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<div class="row">
  <div class="col-lg-12 col-md-12">
    <label>Nombre de la receta:</label>
      <%= f.text_field :nombre %>
    </div>
    

  <div class="field">
    <%= f.label :pasos %><br>
    <%= f.text_area :pasos %>
  </div>
  <div class="field">
    <%= f.label :tiempo_prep %><br>
    <%= f.text_field :tiempo_prep %>
  </div>
  <div class="field">
    <%= f.label :porciones %><br>
    <%= f.number_field :porciones %>
  </div>
  
  <div class="field">
    <%= f.label :usuario_id %><br>
    <%= f.number_field :usuario_id %>
  </div>
  <div class="field">
    <%= f.label :categoria_rec_id %><br>
    <%= f.text_field :categoria_rec_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  </div>
  </div
<% end %>


<div id="sf1" class="frm">

                        <fieldset>
                            <legend>Paso 1 de 3 | Selecciona tus ingredientes</legend>

                            <div class="form-group">
                                <div class="col-lg-12">
                                    <label>Nombre de la receta:</label>
                                    
                                        <br />
                                </div>
                                <div class="col-lg-5">

                                    <select class="form-control" id="allIngredients" multiple size="10">
                                    </select>
                                </div>
                                <div class="col-lg-2">
                                    <center>
                                        <button type="button" class="btn btn-success" id="anade">&gt;&gt;</button>
                                        <br />
                                        <br />
                                        <button type="button" class="btn btn-danger" id="quita">&lt;&lt;</button>
                                    </center>
                                </div>
                                <div class="col-lg-5">
                                    <select class="form-control" id="addedIngredients" multiple size="10">

                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-lg-10 col-lg-offset-2">
                                    <!-- open1 is given in the class that is binded with the click event -->
                                    <br />
                                    <button class="btn btn-primary open1" type="button">Next <span class="fa fa-arrow-right"></span></button>
                                </div>
                            </div>

                        </fieldset>
                    </div>

                    <!-- id will be unique, but class name will be same -->
                    <div id="sf2" class="frm">

                        <fieldset>
                            <legend>Paso 2 de 3 | Ingresa los pasos</legend>

                            <div class="form-group">
                                <label class="col-lg-12 control-label" for="uemail">Procedimiento: </label>
                                <div class="col-lg-12">
                                    <div id="proceds"></div>
                                </div>
                                <div class="col-lg-8">
                                    
                                </div>
                                <div class="col-lg-4">
                                    <button class="btn btn-info" id="addProcedure" type="button"> Añade Procedimiento</button>
                                </div>
                            </div>

                            <div class="clearfix" style="height: 10px;clear: both;"></div>

                            <div class="form-group">
                                <div class="col-lg-10 col-lg-offset-2">
                                    <!-- back2 unique class name  -->
                                    <button class="btn btn-warning back2" type="button"><span class="fa fa-arrow-left"></span> Back</button>
                                    <!-- open2 unique class name -->
                                    <button class="btn btn-primary open2" type="button">Next <span class="fa fa-arrow-right"></span></button>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <!-- id will be unique, but class name will be same -->
                    <div id="sf3" class="frm">

                        <fieldset>
                            <legend>Paso 3 de 3 | Descripción y confirmación</legend>

                            
                            <br />

                            <div class="form-group">
                                <div class="col-lg-6">
                                    <h4>Ingredientes:</h4>
                                    <table id="ingredientsCon">
                                        <thead>
                                            <tr>
                                                <td>Ingrediente</td>
                                                <td>Cantidad</td>
                                                <td>Unidad</td>
                                            </tr>

                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                                <div class="col-lg-6">
                                    <label>Descripción:</label>
                                    
                                    <br />
                                    <label>Porciones:</label>
                                    
                                    <br />
                                    <label>Tiempo de preparación:</label>
                                    
                                </div>
                            </div>
                            <br />

                            <div class="form-group">
                                <div class="col-lg-6">
                                    <h4>Procedimientos:</h4>
                                    <ol id="proceduresCon"></ol>
                                </div>
                                <div class="col-lg-6">
                                    <label>Tipo de alimento:</label>
                                    
                                    <!--<select id="tipoCon" class="form-control">
                                        <option value="desayuno">desayuno</option>
                                        <option value="comida">comida</option>
                                        <option value="cena">cena</option>
                                        <option value="snack">snack</option>
                                    </select>-->
                                    
                                    <br />
                                    
                                    <br />
                                    <label>Imagen:</label>
                                    

                                </div>
                            </div>
                            <br />


                            <div class="form-group">
                                <div class="col-lg-10 col-lg-offset-2">
                                    <!-- Unique class name -->
                                    <button class="btn btn-warning back3" type="button"><span class="fa fa-arrow-left"></span> Back</button>
                                    <!-- Unique class name -->
                                    
                                </div>
                            </div>
                        </fieldset>
                    </div>