<p id="notice"><%= notice %></p>

<h1>Listing Receta</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Pasos</th>
      <th>Tiempo prep</th>
      <th>Integer</th>
      <th>Porciones</th>
      <th>Usuario</th>
      <th>Categoria rec</th>
      <th>Integer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @receta.each do |recetum| %>
      <tr>
        <td><%= recetum.nombre %></td>
        <td><%= recetum.pasos %></td>
        <td><%= recetum.tiempo_prep %></td>
        <td><%= recetum.integer %></td>
        <td><%= recetum.porciones %></td>
        <td><%= recetum.usuario_id %></td>
        <td><%= recetum.categoria_rec_id %></td>
        <td><%= recetum.integer %></td>
        <td><%= link_to 'Show', recetum %></td>
        <td><%= link_to 'Edit', edit_recetum_path(recetum) %></td>
        <td><%= link_to 'Destroy', recetum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recetum', new_recetum_path %>
