<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @recetum.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @recetum.descripcion %>
</p>

<p>
  <strong>Porciones:</strong>
  <%= @recetum.porciones %>
</p>

<p>
  <strong>Tiempoprep:</strong>
  <%= @recetum.tiempoPrep %>
</p>

<p>
  <strong>Fechacreacion:</strong>
  <%= @recetum.fechaCreacion %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @recetum.tipo %>
</p>

<p>
  <strong>Image:</strong>
  <%= @recetum.image %>
</p>

<p>
  <strong>Procedimiento:</strong>
  <%= @recetum.procedimiento %>
</p>


<%= link_to 'Back', receta_path %>
