<p id="notice"><%= notice %></p>
<div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="row">
                        <div class="col-lg-3">
                            <h1 class="page-header">
                                Ver Receta
                            </h1>                            
                        </div>
                        <div class="col-lg-3">
                            <h1 class="page-header">
                                <small>Busca tu receta</small>
                            </h1>                            
                        </div>
                        
                    </div>

                    <!-- /.row -->

                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <center><h1 id="titleR"><%= @recetum.nombre %></h1></center><br />
                            <div class="row">
                                <div class="col-lg-4">
                                     <%= link_to image_tag(@recetum.foto, :border => 0, :style=>"width:100%; height:100%; z-index:-40") %>
                                </div>
                                <div class="col-lg-8">
                                    <label>Descripción:</label>
                                    <textarea class="form-control" id="descripcionR" readonly><%= @recetum.descripcion %></textarea><br />
                                    <label>Tiempo de Preparación(min):</label>
                                    <input class="form-control" type="text" id="tiempoR" readonly="" value="<%= @recetum.tiempo_prep %>" /><br />
                                    <label>Porciones:</label>
                                    <input class="form-control" type="text" id="porcionesR" readonly="" value="<%= @recetum.porciones %>" />
                                    <label>Categoria:</label>
                                    <input class="form-control" type="text" id="categoriaR" readonly="" value="<%= @categoria.nombre %>" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <h2>Ingredientes:</h2><ul id="ingredientesR"></ul>
                                </div>
                                <div class="col-lg-8">
                                    <h2>Procedimiento:</h2><ol id="procedimientosR">
                                      <li><%= @recetum.pasos %></li>
                                      <input type="hidden" id="recid" value="<%= @recetum.id %>" />
                                    </ol>
                                </div>
                                <div class="col-lg-4">
                                <div class="star-rating" > 
                                  anadido:<%= @rec.calif rescue nil%> <br />
                                  <label>Califica:</label>
                                    <span class="fa fa-star-o cal" data-rating="1" ></span>
                                    <span class="fa fa-star-o cal" data-rating="2" ></span>
                                    <span class="fa fa-star-o cal" data-rating="3" ></span>
                                    <span class="fa fa-star-o cal" data-rating="4" ></span>
                                    <span class="fa fa-star-o cal" data-rating="5" ></span>
                                    <input type="hidden" id="rate" class="rating-value" />
                                  </div>
                                </div>
                                <div class="col-lg-8">
                                    <%# if @added %>
                                        
                                        <%= link_to "Añadir Fav", favadd_path(:id => @recetum.id), :class => "btn btn-warning" %>
                                    <% #end %>
                                </div>
                            </div>                                                                                  
                        </div>                                                
                    </div>
                    <!-- /.row -->
<%= link_to 'Editar', edit_recetum_path(@recetum) %>
                </div>

 <script>
     $(document).ready(function () {
    var $star_rating = $('.star-rating .fa');
    
    

    
    
    var SetRatingStar = function() {
      return $star_rating.each(function() {
        if (parseInt($star_rating.siblings('input.rating-value').val()) >= parseInt($(this).data('rating'))) {
          return $(this).removeClass('fa-star-o').addClass('fa-star');
        } else {
          return $(this).removeClass('fa-star').addClass('fa-star-o');
        }
        
      });
    };
    
    $star_rating.on('click', function() {
      $star_rating.siblings('input.rating-value').val($(this).data('rating'));
      
      SetRatingStar();
     // document.location = "/receta/"+$("#recid").val()+"/"+$(this).attr('data-rating');
    });
    
    SetRatingStar();
  });
 </script>
  


