<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @recetum.nombre %>
</p>

<p>
  <strong>Pasos:</strong>
  <%= @recetum.pasos %>
</p>

<p>
  <strong>Tiempo prep:</strong>
  <%= @recetum.tiempo_prep %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @recetum.integer %>
</p>

<p>
  <strong>Porciones:</strong>
  <%= @recetum.porciones %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @recetum.usuario_id %>
</p>

<p>
  <strong>Categoria rec:</strong>
  <%= @recetum.categoria_rec_id %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @recetum.integer %>
</p>

<%= link_to 'Edit', edit_recetum_path(@recetum) %> |
<%= link_to 'Back', receta_path %>
