<!DOCTYPE html>
<html lang="es">

    <head>
  <title>Instafood</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
    <body>
        <% if (session[:user_email] == "admin@instafood.com") %>
        <div id="wrapper">
            <!-- Navigation -->
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="background-color: #E80307;" id="navbarCode">                                <!-- Brand and toggle get grouped for better mobile display -->
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <%= link_to image_tag("recetas2.png", :border => 0, :style=>"width: 25%;"), :inicio %>
                </div>
                <!-- Top Menu Items -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-right top-nav navbar-collapse navbar-ex1-collapse">
                    
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-lemon-o"></i> Ingredientes <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li class="alert-dropdown">
                                    <%= link_to "Buscar con mis ingredientes", :sugerencias %>
                                </li><li class="divider"></li>
                                <li>
                                    <%= link_to 'Agrega ingredientes', new_ingrediente_path %>
                                </li><li class="divider"></li>
                                <li>
                                    <%= link_to 'Ver ingredientes', ingredientes_path %>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cutlery"></i> Recetas <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                        <%= link_to "Subir receta", :altasr %>
                                    </li>
                                    <li>
                                        <%= link_to "Mis recetas", :misrecetas %>
                                    </li>
                                    <li>
                                        <%= link_to "Mis favoritas", :misfav %>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <%= link_to "Ver Todas las recetas", "/receta/" %>
                                    </li>
                            </ul>
                        </li>
                        
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <%= session[:user_name] %> <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><%= link_to "Mi cuenta", current_user %></li>
                                <li><%= link_to 'Editar', edit_usuario_path(current_user) %> </li>
                                <li class="divider"></li>
                                <li><%= link_to "Salir", logout_path, method: "delete" %></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                
                <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
                
                <!-- /.navbar-collapse -->
            </nav>

            <div id="page-wrapper">
                
                <%= yield %>
                
                <!-- /.container-fluid -->

            </div>
            <% else %>
            
            <div id="wrapper">
            <!-- Navigation -->
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="background-color: #E80307;" id="navbarCode">                                <!-- Brand and toggle get grouped for better mobile display -->
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <%= link_to image_tag("recetas2.png", :border => 0, :style=>"width: 25%;"), :inicio %>
                </div>
                <!-- Top Menu Items -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-right top-nav navbar-collapse navbar-ex1-collapse">
                        <li>
                            <%= link_to :sugerencias do %>
                                <i class="fa fa-search"></i> Buscar con mis ingredientes
                            <% end %>
                        </li>
                        <li>
                            <%= link_to "/receta/" do %>
                                <i class="fa fa-cutlery"></i> Ver todas las recetas
                            <% end %>
                        </li>
                        <li >
                            <%= link_to :altasr do%>
                            <i class="fa fa-upload"></i> Subir receta
                            <% end %>
                        </li>
                        <li >
                            <%= link_to :misrecetas do  %>
                            <i class="fa fa-folder-open"></i> Mis recetas
                            <% end %>
                        </li>
                        <li >
                            <%= link_to :misfav do%>
                            <i class="fa fa-star"></i> Mis favoritas
                            <% end %>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <%= session[:user_name] %> <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><%= link_to "Mi cuenta", current_user %></li>
                                <li><%= link_to 'Editar', edit_usuario_path(current_user) %> </li>
                                <li class="divider"></li>
                                <li><%= link_to "Salir", logout_path, method: "delete" %></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                
                <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
                
                <!-- /.navbar-collapse -->
            </nav>

            <div id="page-wrapper">
                
                <%= yield %>
                
                <!-- /.container-fluid -->

            </div>
            
            
            <% end %>
            <!-- /#page-wrapper -->

        </div>
        <!-- /#wrapper -->
    </body>

</html>
